# No Shows By Chase Kregor<a name='start' />

## Notebook Bookmarks:

### - Go to <a href=#start>The Top of The Notebook</a>
### - Go to <a href=#cleanandeda>Clean and EDA</a>
### - Go to <a href=#featureselectionandcreations>Feature Selection and Creation</a>
### - Go to <a href=#trainmodels>Train Models</a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import matplotlib.style as style
#style.use('fivethirtyeight')
import seaborn as sb

## Start of Clean and EDA <a name='cleanandeda' />

In [2]:
data = pd.read_csv("../data/KaggleV2-May-2016.csv")
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
data.rename(columns = {'Hipertension':'Hypertension',
                       'PatientId': 'PatientID',
                       'Handcap': 'Handicap',
                       'No-show': 'NoShow',
                       'Alcoholism':'Alcoholism'
                         }, inplace = True)
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

Now trying to understand the data set. It's distributions and unique values. Also attempting to find funky and incorrect data points. I want to understand and check the integrity of the dataset

In [4]:
data.PatientID.value_counts()

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
7.579746e+13    62
8.713749e+14    62
6.264199e+12    62
6.684488e+13    57
8.722785e+11    55
8.923969e+13    54
8.435224e+09    51
8.534397e+14    50
1.447997e+13    46
6.543360e+13    46
8.189452e+13    42
9.452745e+12    42
1.882323e+14    40
9.496197e+12    38
2.271580e+12    38
1.336493e+13    37
1.484143e+12    35
8.883500e+13    34
9.861628e+14    34
7.124589e+14    33
4.167557e+14    30
6.128878e+12    30
8.121397e+13    29
8.634164e+12    24
3.699499e+13    23
                ..
6.375629e+12     1
9.369127e+12     1
5.375556e+14     1
1.662184e+11     1
7.234615e+13     1
9.649990e+12     1
6.912783e+10     1
1.954265e+13     1
2.736377e+10     1
5.532694e+11     1
7.149583e+12     1
8.676752e+13     1
7.838359e+13     1
5.962625e+11     1
4.919862e+13     1
3.477350e+14     1
1.626595e+13     1
7.794917e+12     1
1.161950e+13     1
5.615364e+14     1
4.355592e+11     1
1.321328e+12     1
1.751987e+13     1
4.262579e+13     1
3.115681e+13     1
1.222828e+13     1
6.821231e+11     1
7.163981e+14     1
9.798964e+14     1
2.724571e+11     1
Name: PatientID, Length: 62299, dtype: int64

making sure there arent duplicate appointment IDs

In [5]:
data.AppointmentID.value_counts()

5769215    1
5731652    1
5707080    1
5702986    1
5715276    1
5717325    1
5711182    1
5758289    1
5762391    1
5741913    1
5483871    1
5660001    1
5653858    1
5666148    1
5668197    1
5641576    1
5639531    1
5649772    1
5645678    1
5647727    1
5692785    1
5686642    1
5694838    1
5696887    1
5674360    1
5733701    1
5651786    1
5672315    1
5719362    1
5672187    1
          ..
5744033    1
5748131    1
5739943    1
5672324    1
5682563    1
5680512    1
5782866    1
5496110    1
5713200    1
5711153    1
5717298    1
5709110    1
5707063    1
5729592    1
5463358    1
5565768    1
5776721    1
5789023    1
5590396    1
5606756    1
5608807    1
5635434    1
5621101    1
5686470    1
5582192    1
5586290    1
5584243    1
5598584    1
5602682    1
5771266    1
Name: AppointmentID, Length: 110527, dtype: int64

In [6]:
data.Gender.unique()

array(['F', 'M'], dtype=object)

In [7]:
data.Gender.value_counts()

F    71840
M    38687
Name: Gender, dtype: int64

trying to understand my timeline

In [8]:
data.AppointmentDay.unique()

array(['2016-04-29T00:00:00Z', '2016-05-03T00:00:00Z',
       '2016-05-10T00:00:00Z', '2016-05-17T00:00:00Z',
       '2016-05-24T00:00:00Z', '2016-05-31T00:00:00Z',
       '2016-05-02T00:00:00Z', '2016-05-30T00:00:00Z',
       '2016-05-16T00:00:00Z', '2016-05-04T00:00:00Z',
       '2016-05-19T00:00:00Z', '2016-05-12T00:00:00Z',
       '2016-05-06T00:00:00Z', '2016-05-20T00:00:00Z',
       '2016-05-05T00:00:00Z', '2016-05-13T00:00:00Z',
       '2016-05-09T00:00:00Z', '2016-05-25T00:00:00Z',
       '2016-05-11T00:00:00Z', '2016-05-18T00:00:00Z',
       '2016-05-14T00:00:00Z', '2016-06-02T00:00:00Z',
       '2016-06-03T00:00:00Z', '2016-06-06T00:00:00Z',
       '2016-06-07T00:00:00Z', '2016-06-01T00:00:00Z',
       '2016-06-08T00:00:00Z'], dtype=object)

In [9]:
data.Age.value_counts()

 0      3539
 1      2273
 52     1746
 49     1652
 53     1651
 56     1635
 38     1629
 59     1624
 2      1618
 50     1613
 57     1603
 36     1580
 51     1567
 19     1545
 39     1536
 37     1533
 54     1530
 34     1526
 33     1524
 30     1521
 6      1521
 3      1513
 17     1509
 32     1505
 5      1489
 44     1487
 18     1487
 58     1469
 46     1460
 45     1453
        ...
 74      602
 76      571
 75      544
 78      541
 77      527
 80      511
 81      434
 82      392
 79      390
 84      311
 83      280
 85      275
 86      260
 87      184
 89      173
 88      126
 90      109
 92       86
 91       66
 93       53
 94       33
 95       24
 96       17
 97       11
 98        6
 115       5
 100       4
 102       2
 99        1
-1         1
Name: Age, Length: 104, dtype: int64

need to get rid of negative value. It is impossible for someone to be -1.

In [10]:
data['Age'][data['Age'] < 0] = 1

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
data.Age.value_counts()

0      3539
1      2274
52     1746
49     1652
53     1651
56     1635
38     1629
59     1624
2      1618
50     1613
57     1603
36     1580
51     1567
19     1545
39     1536
37     1533
54     1530
34     1526
33     1524
30     1521
6      1521
3      1513
17     1509
32     1505
5      1489
44     1487
18     1487
58     1469
46     1460
45     1453
       ...
72      615
74      602
76      571
75      544
78      541
77      527
80      511
81      434
82      392
79      390
84      311
83      280
85      275
86      260
87      184
89      173
88      126
90      109
92       86
91       66
93       53
94       33
95       24
96       17
97       11
98        6
115       5
100       4
102       2
99        1
Name: Age, Length: 103, dtype: int64

In [12]:
data.Scholarship.value_counts()

0    99666
1    10861
Name: Scholarship, dtype: int64

In [13]:
data.Hypertension.value_counts()

0    88726
1    21801
Name: Hypertension, dtype: int64

In [14]:
data.Diabetes.value_counts()

0    102584
1      7943
Name: Diabetes, dtype: int64

In [15]:
data.Handicap.value_counts()

0    108286
1      2042
2       183
3        13
4         3
Name: Handicap, dtype: int64

In [16]:
data.SMS_received.value_counts()

0    75045
1    35482
Name: SMS_received, dtype: int64

In [17]:
data.NoShow.value_counts()

No     88208
Yes    22319
Name: NoShow, dtype: int64

making sure there aren't any values missing in the dataset

In [18]:
data.isnull().sum()

PatientID         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hypertension      0
Diabetes          0
Alcoholism        0
Handicap          0
SMS_received      0
NoShow            0
dtype: int64

In [19]:
print('Age:',sorted(data.Age.unique()))
print('Gender:',data.Gender.unique())
#print('DayOfTheWeek:',data.DayOfTheWeek.unique())
#print('Status:',data.Status.unique())
print('Diabetes:',data.Diabetes.unique())
print('Alchoholism:',data.Alcoholism.unique())
print('Hypertension:',data.Hypertension.unique())
print('Handicap:',data.Handicap.unique())
#print('Smokes:',data.Smokes.unique())
print('Scholarship:',data.Scholarship.unique())
#print('Tuberculosis:',data.Tuberculosis.unique())
print('SMS_received:',data.SMS_received.unique())
#print('AwaitingTime:',sorted(data.AwaitingTime.unique()))
#print('HourOfTheDay:', sorted(data.HourOfTheDay.unique()))

Age: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 102, 115]
Gender: ['F' 'M']
Diabetes: [0 1]
Alchoholism: [0 1]
Hypertension: [1 0]
Handicap: [0 1 2 3 4]
Scholarship: [0 1]
SMS_received: [0 1]

In [20]:
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

## Feature Selection and Creation <a name='featureselectionandcreations' />

In [21]:
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [22]:
data.drop(data.columns[[0]], axis=1)
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

Creating two binary columns for the gender

In [23]:
data['Male'] = data['Gender'].replace(['F','M'], [0,1])
data['Female'] = data['Gender'].replace(['F','M'], [1,0])
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow,Male,Female
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0,1
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,1,0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,0,1
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0,1
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0,1

changing NoShow column to be binary

In [24]:
data['NoShow'] = data['NoShow'].replace(['Yes','No'], [1,0])
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow,Male,Female
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0,0,1
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,0,1,0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,0,0,1
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,0,1
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,0,0,1

dropping uneeded columns

In [25]:
data = data[['PatientID','ScheduledDay','AppointmentDay', 'Age','Neighbourhood', 'Scholarship','Hypertension','Diabetes','Alcoholism','Handicap','SMS_received','NoShow','Male','Female']]
data.head()

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow,Male,Female
0,2.987250e+13,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0,0,1
1,5.589978e+14,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,0,1,0
2,4.262962e+12,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,0,0,1
3,8.679512e+11,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,0,1
4,8.841186e+12,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,0,0,1

cleaning up dates

In [26]:
data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'])
data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'])
data.head()

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow,Male,Female
0,2.987250e+13,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,0,0,1
1,5.589978e+14,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,0,1,0
2,4.262962e+12,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,0,0,1
3,8.679512e+11,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,0,1
4,8.841186e+12,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,0,0,1

In [27]:

data['ScheduledYear'], data['ScheduledMonth'], data['ScheduleDay'] = data['ScheduledDay'].dt.year, data['ScheduledDay'].dt.month, data['ScheduledDay'].dt.day
data['AppointmentYear'], data['AppointmentMonth'], data['AppointmentDayy'] = data['AppointmentDay'].dt.year, data['AppointmentDay'].dt.month, data['AppointmentDay'].dt.day
data.head

<bound method NDFrame.head of            PatientID        ScheduledDay AppointmentDay  Age  \
0       2.987250e+13 2016-04-29 18:38:08     2016-04-29   62
1       5.589978e+14 2016-04-29 16:08:27     2016-04-29   56
2       4.262962e+12 2016-04-29 16:19:04     2016-04-29   62
3       8.679512e+11 2016-04-29 17:29:31     2016-04-29    8
4       8.841186e+12 2016-04-29 16:07:23     2016-04-29   56
5       9.598513e+13 2016-04-27 08:36:51     2016-04-29   76
6       7.336882e+14 2016-04-27 15:05:12     2016-04-29   23
7       3.449833e+12 2016-04-27 15:39:58     2016-04-29   39
8       5.639473e+13 2016-04-29 08:02:16     2016-04-29   21
9       7.812456e+13 2016-04-27 12:48:25     2016-04-29   19
10      7.345362e+14 2016-04-27 14:58:11     2016-04-29   30
11      7.542951e+12 2016-04-26 08:44:12     2016-04-29   29
12      5.666548e+14 2016-04-28 11:33:51     2016-04-29   22
13      9.113946e+14 2016-04-28 14:52:07     2016-04-29   28
14      9.988472e+13 2016-04-28 10:06:24     2016-04-29   54
15      9.994839e+10 2016-04-26 08:47:27     2016-04-29   15
16      8.457439e+13 2016-04-28 08:51:47     2016-04-29   50
17      1.479497e+13 2016-04-28 09:28:57     2016-04-29   40
18      1.713538e+13 2016-04-26 10:54:18     2016-04-29   30
19      7.223289e+12 2016-04-29 10:43:14     2016-04-29   46
20      6.222575e+14 2016-04-27 07:51:14     2016-04-29   30
21      1.215484e+13 2016-04-27 10:50:45     2016-04-29    4
22      8.632298e+14 2016-04-25 13:29:16     2016-04-29   13
23      2.137540e+14 2016-04-28 10:27:05     2016-04-29   46
24      8.734858e+12 2016-04-29 14:19:19     2016-04-29   65
25      5.819370e+12 2016-04-26 15:04:17     2016-04-29   46
26      2.578785e+10 2016-04-29 14:19:42     2016-04-29   45
27      1.215484e+13 2016-04-27 10:51:45     2016-04-29    4
28      5.926172e+12 2016-04-29 15:48:02     2016-04-29   51
29      1.225776e+12 2016-04-29 15:16:29     2016-04-29   32
...              ...                 ...            ...  ...
110497  7.935892e+14 2016-06-01 09:46:33     2016-06-01   76
110498  9.433654e+13 2016-06-08 10:21:14     2016-06-08   59
110499  8.219692e+14 2016-06-01 09:42:56     2016-06-01   66
110500  4.434384e+14 2016-06-08 09:35:13     2016-06-08   59
110501  4.544252e+11 2016-06-01 10:19:12     2016-06-01   44
110502  7.316229e+14 2016-06-08 10:50:42     2016-06-08   22
110503  2.362182e+13 2016-06-01 13:00:36     2016-06-01   64
110504  9.947983e+12 2016-06-08 11:06:21     2016-06-08    4
110505  5.667344e+13 2016-06-01 10:45:50     2016-06-01   55
110506  8.973883e+11 2016-06-01 11:09:20     2016-06-01    5
110507  4.769462e+14 2016-06-08 09:04:18     2016-06-08    0
110508  9.433654e+13 2016-06-01 09:41:00     2016-06-01   59
110509  4.952968e+14 2016-06-08 08:50:51     2016-06-08   33
110510  2.362182e+13 2016-06-01 09:35:48     2016-06-01   64
110511  8.235996e+11 2016-06-08 08:50:20     2016-06-08   14
110512  9.876246e+13 2016-06-08 08:20:01     2016-06-08   41
110513  8.674778e+13 2016-06-08 07:52:55     2016-06-08    2
110514  2.695685e+12 2016-06-08 08:35:31     2016-06-08   58
110515  6.456342e+14 2016-06-06 15:58:05     2016-06-08   33
110516  6.923772e+13 2016-06-07 07:45:16     2016-06-08   37
110517  5.574942e+12 2016-06-07 07:38:34     2016-06-07   19
110518  7.263315e+13 2016-04-27 15:15:06     2016-06-07   50
110519  6.542388e+13 2016-04-27 15:23:14     2016-06-07   22
110520  9.969977e+14 2016-05-03 07:51:47     2016-06-07   42
110521  3.635534e+13 2016-05-03 08:23:40     2016-06-07   53
110522  2.572134e+12 2016-05-03 09:15:35     2016-06-07   56
110523  3.596266e+12 2016-05-03 07:27:33     2016-06-07   51
110524  1.557663e+13 2016-04-27 16:03:52     2016-06-07   21
110525  9.213493e+13 2016-04-27 15:09:23     2016-06-07   38
110526  3.775115e+14 2016-04-27 13:30:56     2016-06-07   54

            Neighbourhood  Scholarship  Hypertension  Diabetes  Alcoholism  \
0         JARDIM DA PENHA            0             1         0           0
1         JARDIM DA PENHA            0             0         0           0
2           MATA DA PRAIA            0             0         0           0
3       PONTAL DE CAMBURI            0             0         0           0
4         JARDIM DA PENHA            0             1         1           0
5               REPÚBLICA            0             1         0           0
6              GOIABEIRAS            0             0         0           0
7              GOIABEIRAS            0             0         0           0
8              ANDORINHAS            0             0         0           0
9               CONQUISTA            0             0         0           0
10         NOVA PALESTINA            0             0         0           0
11         NOVA PALESTINA            0             0         0           0
12         NOVA PALESTINA            1             0         0           0
13         NOVA PALESTINA            0             0         0           0
14         NOVA PALESTINA            0             0         0           0
15         NOVA PALESTINA            0             0         0           0
16         NOVA PALESTINA            0             0         0           0
17              CONQUISTA            1             0         0           0
18         NOVA PALESTINA            1             0         0           0
19               DA PENHA            0             0         0           0
20         NOVA PALESTINA            0             0         0           0
21              CONQUISTA            0             0         0           0
22              CONQUISTA            0             0         0           0
23              CONQUISTA            0             0         0           0
24             TABUAZEIRO            0             0         0           0
25              CONQUISTA            0             1         0           0
26         BENTO FERREIRA            0             1         0           0
27              CONQUISTA            0             0         0           0
28              SÃO PEDRO            0             0         0           0
29           SANTA MARTHA            0             0         0           0
...                   ...          ...           ...       ...         ...
110497        MARIA ORTIZ            0             0         0           0
110498        MARIA ORTIZ            0             0         0           0
110499        MARIA ORTIZ            0             1         1           0
110500        MARIA ORTIZ            0             0         0           0
110501        MARIA ORTIZ            0             0         0           0
110502         GOIABEIRAS            0             0         0           0
110503       SOLON BORGES            0             0         0           0
110504        MARIA ORTIZ            0             0         0           0
110505        MARIA ORTIZ            0             0         0           0
110506        MARIA ORTIZ            0             0         0           0
110507        MARIA ORTIZ            0             0         0           0
110508        MARIA ORTIZ            0             0         0           0
110509        MARIA ORTIZ            0             0         0           0
110510       SOLON BORGES            0             0         0           0
110511        MARIA ORTIZ            0             0         0           0
110512        MARIA ORTIZ            0             0         0           0
110513    ANTÔNIO HONÓRIO            0             0         0           0
110514        MARIA ORTIZ            0             0         0           0
110515        MARIA ORTIZ            0             1         0           0
110516        MARIA ORTIZ            0             0         0           0
110517        MARIA ORTIZ            0             0         0           0
110518        MARIA ORTIZ            0             0         0           0
110519        MARIA ORTIZ            0             0         0           0
110520        MARIA ORTIZ            0             0         0           0
110521        MARIA ORTIZ            0             0         0           0
110522        MARIA ORTIZ            0             0         0           0
110523        MARIA ORTIZ            0             0         0           0
110524        MARIA ORTIZ            0             0         0           0
110525        MARIA ORTIZ            0             0         0           0
110526        MARIA ORTIZ            0             0         0           0

        Handicap  SMS_received  NoShow  Male  Female  ScheduledYear  \
0              0             0       0     0       1           2016
1              0             0       0     1       0           2016
2              0             0       0     0       1           2016
3              0             0       0     0       1           2016
4              0             0       0     0       1           2016
5              0             0       0     0       1           2016
6              0             0       1     0       1           2016
7              0             0       1     0       1           2016
8              0             0       0     0       1           2016
9              0             0       0     0       1           2016
10             0             0       0     0       1           2016
11             0             1       1     1       0           2016
12             0             0       0     0       1           2016
13             0             0       0     1       0           2016
14             0             0       0     0       1           2016
15             0             1       0     0       1           2016
16             0             0       0     1       0           2016
17             0             0       1     0       1           2016
18             0             1       0     0       1           2016
19             0             0       0     0       1           2016
20             0             0       1     0       1           2016
21             0             0       1     0       1           2016
22             0             1       1     1       0           2016
23             0             0       0     0       1           2016
24             0             0       0     0       1           2016
25             0             1       0     1       0           2016
26             0             0       0     0       1           2016
27             0             0       0     0       1           2016
28             0             0       0     1       0           2016
29             0             0       0     0       1           2016
...          ...           ...     ...   ...     ...            ...
110497         0             0       0     1       0           2016
110498         0             0       0     0       1           2016
110499         0             0       0     0       1           2016
110500         0             0       0     0       1           2016
110501         0             0       0     1       0           2016
110502         0             0       0     0       1           2016
110503         0             0       0     0       1           2016
110504         0             0       0     0       1           2016
110505         0             0       0     0       1           2016
110506         0             0       0     1       0           2016
110507         0             0       0     0       1           2016
110508         0             0       0     0       1           2016
110509         0             0       0     1       0           2016
110510         0             0       0     0       1           2016
110511         0             0       0     0       1           2016
110512         0             0       0     0       1           2016
110513         0             0       0     1       0           2016
110514         0             0       0     0       1           2016
110515         0             0       1     1       0           2016
110516         0             0       1     0       1           2016
110517         0             0       0     0       1           2016
110518         0             1       0     0       1           2016
110519         0             1       0     0       1           2016
110520         0             1       0     0       1           2016
110521         0             1       0     0       1           2016
110522         0             1       0     0       1           2016
110523         0             1       0     0       1           2016
110524         0             1       0     0       1           2016
110525         0             1       0     0       1           2016
110526         0             1       0     0       1           2016

        ScheduledMonth  ScheduleDay  AppointmentYear  AppointmentMonth  \
0                    4           29             2016                 4
1                    4           29             2016                 4
2                    4           29             2016                 4
3                    4           29             2016                 4
4                    4           29             2016                 4
5                    4           27             2016                 4
6                    4           27             2016                 4
7                    4           27             2016                 4
8                    4           29             2016                 4
9                    4           27             2016                 4
10                   4           27             2016                 4
11                   4           26             2016                 4
12                   4           28             2016                 4
13                   4           28             2016                 4
14                   4           28             2016                 4
15                   4           26             2016                 4
16                   4           28             2016                 4
17                   4           28             2016                 4
18                   4           26             2016                 4
19                   4           29             2016                 4
20                   4           27             2016                 4
21                   4           27             2016                 4
22                   4           25             2016                 4
23                   4           28             2016                 4
24                   4           29             2016                 4
25                   4           26             2016                 4
26                   4           29             2016                 4
27                   4           27             2016                 4
28                   4           29             2016                 4
29                   4           29             2016                 4
...                ...          ...              ...               ...
110497               6            1             2016                 6
110498               6            8             2016                 6
110499               6            1             2016                 6
110500               6            8             2016                 6
110501               6            1             2016                 6
110502               6            8             2016                 6
110503               6            1             2016                 6
110504               6            8             2016                 6
110505               6            1             2016                 6
110506               6            1             2016                 6
110507               6            8             2016                 6
110508               6            1             2016                 6
110509               6            8             2016                 6
110510               6            1             2016                 6
110511               6            8             2016                 6
110512               6            8             2016                 6
110513               6            8             2016                 6
110514               6            8             2016                 6
110515               6            6             2016                 6
110516               6            7             2016                 6
110517               6            7             2016                 6
110518               4           27             2016                 6
110519               4           27             2016                 6
110520               5            3             2016                 6
110521               5            3             2016                 6
110522               5            3             2016                 6
110523               5            3             2016                 6
110524               4           27             2016                 6
110525               4           27             2016                 6
110526               4           27             2016                 6

        AppointmentDayy
0                    29
1                    29
2                    29
3                    29
4                    29
5                    29
6                    29
7                    29
8                    29
9                    29
10                   29
11                   29
12                   29
13                   29
14                   29
15                   29
16                   29
17                   29
18                   29
19                   29
20                   29
21                   29
22                   29
23                   29
24                   29
25                   29
26                   29
27                   29
28                   29
29                   29
...                 ...
110497                1
110498                8
110499                1
110500                8
110501                1
110502                8
110503                1
110504                8
110505                1
110506                1
110507                8
110508                1
110509                8
110510                1
110511                8
110512                8
110513                8
110514                8
110515                8
110516                8
110517                7
110518                7
110519                7
110520                7
110521                7
110522                7
110523                7
110524                7
110525                7
110526                7

[110527 rows x 20 columns]>

Probably have to get rid of Neighbourhood column given we don't have the specefic hospital for all these NoShows. If we did we could have used distance from hospital as a feature.

Creating a feature that calculates the wait time of a particular patient from when they schedule the appointment to when they actually have the appointment. I believe this will be a really great feature to have. One would assume that the longer the wait time the more likely people are to no show for their appointments

# TEST FEATURE CELLS

In [28]:
data.ScheduledDay = pd.DatetimeIndex(data.ScheduledDay).normalize()

data

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,NoShow,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy
0,2.987250e+13,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,0,0,1,2016,4,29,2016,4,29
1,5.589978e+14,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29
2,4.262962e+12,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
3,8.679512e+11,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
4,8.841186e+12,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,0,0,1,2016,4,29,2016,4,29
5,9.598513e+13,2016-04-27,2016-04-29,76,REPÚBLICA,0,1,0,0,0,0,0,0,1,2016,4,27,2016,4,29
6,7.336882e+14,2016-04-27,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,1,0,1,2016,4,27,2016,4,29
7,3.449833e+12,2016-04-27,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,1,0,1,2016,4,27,2016,4,29
8,5.639473e+13,2016-04-29,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
9,7.812456e+13,2016-04-27,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29
10,7.345362e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29
11,7.542951e+12,2016-04-26,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,1,1,0,2016,4,26,2016,4,29
12,5.666548e+14,2016-04-28,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,0,0,1,2016,4,28,2016,4,29
13,9.113946e+14,2016-04-28,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,0,1,0,2016,4,28,2016,4,29
14,9.988472e+13,2016-04-28,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,0,0,1,2016,4,28,2016,4,29
15,9.994839e+10,2016-04-26,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,0,0,1,2016,4,26,2016,4,29
16,8.457439e+13,2016-04-28,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,0,1,0,2016,4,28,2016,4,29
17,1.479497e+13,2016-04-28,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,1,0,1,2016,4,28,2016,4,29
18,1.713538e+13,2016-04-26,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,0,0,1,2016,4,26,2016,4,29
19,7.223289e+12,2016-04-29,2016-04-29,46,DA PENHA,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
20,6.222575e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,1,0,1,2016,4,27,2016,4,29
21,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,1,0,1,2016,4,27,2016,4,29
22,8.632298e+14,2016-04-25,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,1,1,0,2016,4,25,2016,4,29
23,2.137540e+14,2016-04-28,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,0,0,1,2016,4,28,2016,4,29
24,8.734858e+12,2016-04-29,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
25,5.819370e+12,2016-04-26,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,0,1,0,2016,4,26,2016,4,29
26,2.578785e+10,2016-04-29,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,0,0,1,2016,4,29,2016,4,29
27,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29
28,5.926172e+12,2016-04-29,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29
29,1.225776e+12,2016-04-29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,2016-06-01,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1
110498,9.433654e+13,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110499,8.219692e+14,2016-06-01,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,0,0,0,1,2016,6,1,2016,6,1
110500,4.434384e+14,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110501,4.544252e+11,2016-06-01,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1
110502,7.316229e+14,2016-06-08,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110503,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1
110504,9.947983e+12,2016-06-08,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110505,5.667344e+13,2016-06-01,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1
110506,8.973883e+11,2016-06-01,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1
110507,4.769462e+14,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110508,9.433654e+13,2016-06-01,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1
110509,4.952968e+14,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,0,0,1,0,2016,6,8,2016,6,8
110510,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1
110511,8.235996e+11,2016-06-08,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110512,9.876246e+13,2016-06-08,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110513,8.674778e+13,2016-06-08,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,0,0,1,0,2016,6,8,2016,6,8
110514,2.695685e+12,2016-06-08,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8
110515,6.456342e+14,2016-06-06,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,1,1,0,2016,6,6,2016,6,8
110516,6.923772e+13,2016-06-07,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,0,1,0,1,2016,6,7,2016,6,8
110517,5.574942e+12,2016-06-07,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,0,0,0,1,2016,6,7,2016,6,7
110518,7.263315e+13,2016-04-27,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,4,27,2016,6,7
110519,6.542388e+13,2016-04-27,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,4,27,2016,6,7
110520,9.969977e+14,2016-05-03,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,5,3,2016,6,7
110521,3.635534e+13,2016-05-03,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,5,3,2016,6,7
110522,2.572134e+12,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,5,3,2016,6,7
110523,3.596266e+12,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,5,3,2016,6,7
110524,1.557663e+13,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,4,27,2016,6,7
110525,9.213493e+13,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,4,27,2016,6,7
110526,3.775115e+14,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,0,0,1,2016,4,27,2016,6,7

In [29]:
data['WaitingTime'] = data['AppointmentDay'] - data['ScheduledDay']
data.WaitingTime = data.WaitingTime.apply(abs)


data

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,...,NoShow,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,2.987250e+13,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
1,5.589978e+14,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,0 days
2,4.262962e+12,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
3,8.679512e+11,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
4,8.841186e+12,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
5,9.598513e+13,2016-04-27,2016-04-29,76,REPÚBLICA,0,1,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days
6,7.336882e+14,2016-04-27,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days
7,3.449833e+12,2016-04-27,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days
8,5.639473e+13,2016-04-29,2016-04-29,21,ANDORINHAS,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
9,7.812456e+13,2016-04-27,2016-04-29,19,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days
10,7.345362e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days
11,7.542951e+12,2016-04-26,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,...,1,1,0,2016,4,26,2016,4,29,3 days
12,5.666548e+14,2016-04-28,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days
13,9.113946e+14,2016-04-28,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,1 days
14,9.988472e+13,2016-04-28,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days
15,9.994839e+10,2016-04-26,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,3 days
16,8.457439e+13,2016-04-28,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,1 days
17,1.479497e+13,2016-04-28,2016-04-29,40,CONQUISTA,1,0,0,0,0,...,1,0,1,2016,4,28,2016,4,29,1 days
18,1.713538e+13,2016-04-26,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,3 days
19,7.223289e+12,2016-04-29,2016-04-29,46,DA PENHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
20,6.222575e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days
21,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days
22,8.632298e+14,2016-04-25,2016-04-29,13,CONQUISTA,0,0,0,0,0,...,1,1,0,2016,4,25,2016,4,29,4 days
23,2.137540e+14,2016-04-28,2016-04-29,46,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days
24,8.734858e+12,2016-04-29,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
25,5.819370e+12,2016-04-26,2016-04-29,46,CONQUISTA,0,1,0,0,0,...,0,1,0,2016,4,26,2016,4,29,3 days
26,2.578785e+10,2016-04-29,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
27,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days
28,5.926172e+12,2016-04-29,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,0 days
29,1.225776e+12,2016-04-29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,2016-06-01,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days
110498,9.433654e+13,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110499,8.219692e+14,2016-06-01,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days
110500,4.434384e+14,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110501,4.544252e+11,2016-06-01,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days
110502,7.316229e+14,2016-06-08,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110503,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days
110504,9.947983e+12,2016-06-08,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110505,5.667344e+13,2016-06-01,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days
110506,8.973883e+11,2016-06-01,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days
110507,4.769462e+14,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110508,9.433654e+13,2016-06-01,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days
110509,4.952968e+14,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,0 days
110510,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days
110511,8.235996e+11,2016-06-08,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110512,9.876246e+13,2016-06-08,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110513,8.674778e+13,2016-06-08,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,0 days
110514,2.695685e+12,2016-06-08,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days
110515,6.456342e+14,2016-06-06,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,...,1,1,0,2016,6,6,2016,6,8,2 days
110516,6.923772e+13,2016-06-07,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,...,1,0,1,2016,6,7,2016,6,8,1 days
110517,5.574942e+12,2016-06-07,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,7,2016,6,7,0 days
110518,7.263315e+13,2016-04-27,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days
110519,6.542388e+13,2016-04-27,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days
110520,9.969977e+14,2016-05-03,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days
110521,3.635534e+13,2016-05-03,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days
110522,2.572134e+12,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days
110523,3.596266e+12,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days
110524,1.557663e+13,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days
110525,9.213493e+13,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days
110526,3.775115e+14,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days

In [30]:
data['WaitingTime'] = data['WaitingTime'].map(lambda x: str(x)[:-1])
data

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,...,NoShow,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,2.987250e+13,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
1,5.589978e+14,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,0 days 00:00:0
2,4.262962e+12,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
3,8.679512e+11,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
4,8.841186e+12,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
5,9.598513e+13,2016-04-27,2016-04-29,76,REPÚBLICA,0,1,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days 00:00:0
6,7.336882e+14,2016-04-27,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days 00:00:0
7,3.449833e+12,2016-04-27,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days 00:00:0
8,5.639473e+13,2016-04-29,2016-04-29,21,ANDORINHAS,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
9,7.812456e+13,2016-04-27,2016-04-29,19,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days 00:00:0
10,7.345362e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days 00:00:0
11,7.542951e+12,2016-04-26,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,...,1,1,0,2016,4,26,2016,4,29,3 days 00:00:0
12,5.666548e+14,2016-04-28,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days 00:00:0
13,9.113946e+14,2016-04-28,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,1 days 00:00:0
14,9.988472e+13,2016-04-28,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days 00:00:0
15,9.994839e+10,2016-04-26,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,3 days 00:00:0
16,8.457439e+13,2016-04-28,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,1 days 00:00:0
17,1.479497e+13,2016-04-28,2016-04-29,40,CONQUISTA,1,0,0,0,0,...,1,0,1,2016,4,28,2016,4,29,1 days 00:00:0
18,1.713538e+13,2016-04-26,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,3 days 00:00:0
19,7.223289e+12,2016-04-29,2016-04-29,46,DA PENHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
20,6.222575e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days 00:00:0
21,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,2 days 00:00:0
22,8.632298e+14,2016-04-25,2016-04-29,13,CONQUISTA,0,0,0,0,0,...,1,1,0,2016,4,25,2016,4,29,4 days 00:00:0
23,2.137540e+14,2016-04-28,2016-04-29,46,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,1 days 00:00:0
24,8.734858e+12,2016-04-29,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
25,5.819370e+12,2016-04-26,2016-04-29,46,CONQUISTA,0,1,0,0,0,...,0,1,0,2016,4,26,2016,4,29,3 days 00:00:0
26,2.578785e+10,2016-04-29,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
27,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,2 days 00:00:0
28,5.926172e+12,2016-04-29,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,0 days 00:00:0
29,1.225776e+12,2016-04-29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0 days 00:00:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,2016-06-01,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days 00:00:0
110498,9.433654e+13,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110499,8.219692e+14,2016-06-01,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days 00:00:0
110500,4.434384e+14,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110501,4.544252e+11,2016-06-01,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days 00:00:0
110502,7.316229e+14,2016-06-08,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110503,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days 00:00:0
110504,9.947983e+12,2016-06-08,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110505,5.667344e+13,2016-06-01,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days 00:00:0
110506,8.973883e+11,2016-06-01,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,0 days 00:00:0
110507,4.769462e+14,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110508,9.433654e+13,2016-06-01,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days 00:00:0
110509,4.952968e+14,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,0 days 00:00:0
110510,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,0 days 00:00:0
110511,8.235996e+11,2016-06-08,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110512,9.876246e+13,2016-06-08,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110513,8.674778e+13,2016-06-08,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,0 days 00:00:0
110514,2.695685e+12,2016-06-08,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,0 days 00:00:0
110515,6.456342e+14,2016-06-06,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,...,1,1,0,2016,6,6,2016,6,8,2 days 00:00:0
110516,6.923772e+13,2016-06-07,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,...,1,0,1,2016,6,7,2016,6,8,1 days 00:00:0
110517,5.574942e+12,2016-06-07,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,7,2016,6,7,0 days 00:00:0
110518,7.263315e+13,2016-04-27,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days 00:00:0
110519,6.542388e+13,2016-04-27,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days 00:00:0
110520,9.969977e+14,2016-05-03,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days 00:00:0
110521,3.635534e+13,2016-05-03,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days 00:00:0
110522,2.572134e+12,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days 00:00:0
110523,3.596266e+12,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,35 days 00:00:0
110524,1.557663e+13,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days 00:00:0
110525,9.213493e+13,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days 00:00:0
110526,3.775115e+14,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,41 days 00:00:0

In [31]:
#data['WaitingTime'] = data['WaitingTime'].index.get_values()

#data

,PatientID,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,...,NoShow,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,2.987250e+13,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,0
1,5.589978e+14,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,1
2,4.262962e+12,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,2
3,8.679512e+11,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,3
4,8.841186e+12,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,...,0,0,1,2016,4,29,2016,4,29,4
5,9.598513e+13,2016-04-27,2016-04-29,76,REPÚBLICA,0,1,0,0,0,...,0,0,1,2016,4,27,2016,4,29,5
6,7.336882e+14,2016-04-27,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,6
7,3.449833e+12,2016-04-27,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,7
8,5.639473e+13,2016-04-29,2016-04-29,21,ANDORINHAS,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,8
9,7.812456e+13,2016-04-27,2016-04-29,19,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,9
10,7.345362e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,10
11,7.542951e+12,2016-04-26,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,...,1,1,0,2016,4,26,2016,4,29,11
12,5.666548e+14,2016-04-28,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,12
13,9.113946e+14,2016-04-28,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,13
14,9.988472e+13,2016-04-28,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,14
15,9.994839e+10,2016-04-26,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,15
16,8.457439e+13,2016-04-28,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,...,0,1,0,2016,4,28,2016,4,29,16
17,1.479497e+13,2016-04-28,2016-04-29,40,CONQUISTA,1,0,0,0,0,...,1,0,1,2016,4,28,2016,4,29,17
18,1.713538e+13,2016-04-26,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,...,0,0,1,2016,4,26,2016,4,29,18
19,7.223289e+12,2016-04-29,2016-04-29,46,DA PENHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,19
20,6.222575e+14,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,20
21,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,1,0,1,2016,4,27,2016,4,29,21
22,8.632298e+14,2016-04-25,2016-04-29,13,CONQUISTA,0,0,0,0,0,...,1,1,0,2016,4,25,2016,4,29,22
23,2.137540e+14,2016-04-28,2016-04-29,46,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,28,2016,4,29,23
24,8.734858e+12,2016-04-29,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,24
25,5.819370e+12,2016-04-26,2016-04-29,46,CONQUISTA,0,1,0,0,0,...,0,1,0,2016,4,26,2016,4,29,25
26,2.578785e+10,2016-04-29,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,...,0,0,1,2016,4,29,2016,4,29,26
27,1.215484e+13,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,...,0,0,1,2016,4,27,2016,4,29,27
28,5.926172e+12,2016-04-29,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,...,0,1,0,2016,4,29,2016,4,29,28
29,1.225776e+12,2016-04-29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,...,0,0,1,2016,4,29,2016,4,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,2016-06-01,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,110497
110498,9.433654e+13,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110498
110499,8.219692e+14,2016-06-01,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,...,0,0,1,2016,6,1,2016,6,1,110499
110500,4.434384e+14,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110500
110501,4.544252e+11,2016-06-01,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,110501
110502,7.316229e+14,2016-06-08,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110502
110503,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,110503
110504,9.947983e+12,2016-06-08,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110504
110505,5.667344e+13,2016-06-01,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,110505
110506,8.973883e+11,2016-06-01,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,1,2016,6,1,110506
110507,4.769462e+14,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110507
110508,9.433654e+13,2016-06-01,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,110508
110509,4.952968e+14,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,110509
110510,2.362182e+13,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,...,0,0,1,2016,6,1,2016,6,1,110510
110511,8.235996e+11,2016-06-08,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110511
110512,9.876246e+13,2016-06-08,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110512
110513,8.674778e+13,2016-06-08,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,...,0,1,0,2016,6,8,2016,6,8,110513
110514,2.695685e+12,2016-06-08,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,8,2016,6,8,110514
110515,6.456342e+14,2016-06-06,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,...,1,1,0,2016,6,6,2016,6,8,110515
110516,6.923772e+13,2016-06-07,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,...,1,0,1,2016,6,7,2016,6,8,110516
110517,5.574942e+12,2016-06-07,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,6,7,2016,6,7,110517
110518,7.263315e+13,2016-04-27,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,110518
110519,6.542388e+13,2016-04-27,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,110519
110520,9.969977e+14,2016-05-03,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,110520
110521,3.635534e+13,2016-05-03,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,110521
110522,2.572134e+12,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,110522
110523,3.596266e+12,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,5,3,2016,6,7,110523
110524,1.557663e+13,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,110524
110525,9.213493e+13,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,110525
110526,3.775115e+14,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,...,0,0,1,2016,4,27,2016,6,7,110526

In [32]:
data['WaitingTime'].mean()

55263.0

Need to make one last clean dataset picking which features I will actually use in the model.

In [33]:
data = data[['NoShow','ScheduledDay','AppointmentDay','Age','Scholarship','Hypertension','Diabetes','Alcoholism','Handicap','SMS_received','Male','Female','ScheduledYear','ScheduledMonth','ScheduleDay','AppointmentYear','AppointmentMonth','AppointmentDayy','WaitingTime']]
data.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,2016-04-29,2016-04-29,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,0,2016-04-29,2016-04-29,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,0,2016-04-29,2016-04-29,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,0,2016-04-29,2016-04-29,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,0,2016-04-29,2016-04-29,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4

## Train Models <a name='trainmodels' />

Here is probably the most interesting and complex part to this analysis. 

I will run a bunch of different models to see what their various testing/training accuracies are in order to pick the best one and then try and optomize that particular model.

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import matplotlib.style as style
#style.use('fivethirtyeight')
import seaborn as sb

In [35]:
data.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,2016-04-29,2016-04-29,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,0,2016-04-29,2016-04-29,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,0,2016-04-29,2016-04-29,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,0,2016-04-29,2016-04-29,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,0,2016-04-29,2016-04-29,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4

In [36]:
data = data[['NoShow','ScheduledDay','AppointmentDay','Age','Scholarship','Hypertension','Diabetes','Alcoholism','Handicap','SMS_received','Male','Female','ScheduledYear','ScheduledMonth','ScheduleDay','AppointmentYear','AppointmentMonth','AppointmentDayy','WaitingTime']]
data.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,2016-04-29,2016-04-29,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,0,2016-04-29,2016-04-29,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,0,2016-04-29,2016-04-29,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,0,2016-04-29,2016-04-29,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,0,2016-04-29,2016-04-29,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4

# NEED TO GO OVER THE WAITING TIME FEATURE WITH MICHEAL PAUL

In [37]:
#the features we are going to train our model on
showfeatures = data.iloc[:,3:19]
showfeatures.head()

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4

## Splitting

In [38]:
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [39]:
newfeatures = data[['NoShow','ScheduledDay','AppointmentDay','Age','Scholarship','Hypertension','Diabetes','Alcoholism','Handicap','SMS_received','Male','Female','WaitingTime']]
newfeatures.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,WaitingTime
0,0,2016-04-29,2016-04-29,62,0,1,0,0,0,0,0,1,0
1,0,2016-04-29,2016-04-29,56,0,0,0,0,0,0,1,0,1
2,0,2016-04-29,2016-04-29,62,0,0,0,0,0,0,0,1,2
3,0,2016-04-29,2016-04-29,8,0,0,0,0,0,0,0,1,3
4,0,2016-04-29,2016-04-29,56,0,1,1,0,0,0,0,1,4

In [40]:
data.iloc[:,3:19]

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4
5,76,0,1,0,0,0,0,0,1,2016,4,27,2016,4,29,5
6,23,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,6
7,39,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,7
8,21,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,8
9,19,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,9
10,30,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,10
11,29,0,0,0,0,0,1,1,0,2016,4,26,2016,4,29,11
12,22,1,0,0,0,0,0,0,1,2016,4,28,2016,4,29,12
13,28,0,0,0,0,0,0,1,0,2016,4,28,2016,4,29,13
14,54,0,0,0,0,0,0,0,1,2016,4,28,2016,4,29,14
15,15,0,0,0,0,0,1,0,1,2016,4,26,2016,4,29,15
16,50,0,0,0,0,0,0,1,0,2016,4,28,2016,4,29,16
17,40,1,0,0,0,0,0,0,1,2016,4,28,2016,4,29,17
18,30,1,0,0,0,0,1,0,1,2016,4,26,2016,4,29,18
19,46,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,19
20,30,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,20
21,4,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,21
22,13,0,0,0,0,0,1,1,0,2016,4,25,2016,4,29,22
23,46,0,0,0,0,0,0,0,1,2016,4,28,2016,4,29,23
24,65,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,24
25,46,0,1,0,0,0,1,1,0,2016,4,26,2016,4,29,25
26,45,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,26
27,4,0,0,0,0,0,0,0,1,2016,4,27,2016,4,29,27
28,51,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,28
29,32,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,76,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1,110497
110498,59,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110498
110499,66,0,1,1,0,0,0,0,1,2016,6,1,2016,6,1,110499
110500,59,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110500
110501,44,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1,110501
110502,22,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110502
110503,64,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1,110503
110504,4,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110504
110505,55,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1,110505
110506,5,0,0,0,0,0,0,1,0,2016,6,1,2016,6,1,110506
110507,0,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110507
110508,59,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1,110508
110509,33,0,0,0,0,0,0,1,0,2016,6,8,2016,6,8,110509
110510,64,0,0,0,0,0,0,0,1,2016,6,1,2016,6,1,110510
110511,14,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110511
110512,41,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110512
110513,2,0,0,0,0,0,0,1,0,2016,6,8,2016,6,8,110513
110514,58,0,0,0,0,0,0,0,1,2016,6,8,2016,6,8,110514
110515,33,0,1,0,0,0,0,1,0,2016,6,6,2016,6,8,110515
110516,37,0,0,0,0,0,0,0,1,2016,6,7,2016,6,8,110516
110517,19,0,0,0,0,0,0,0,1,2016,6,7,2016,6,7,110517
110518,50,0,0,0,0,0,1,0,1,2016,4,27,2016,6,7,110518
110519,22,0,0,0,0,0,1,0,1,2016,4,27,2016,6,7,110519
110520,42,0,0,0,0,0,1,0,1,2016,5,3,2016,6,7,110520
110521,53,0,0,0,0,0,1,0,1,2016,5,3,2016,6,7,110521
110522,56,0,0,0,0,0,1,0,1,2016,5,3,2016,6,7,110522
110523,51,0,0,0,0,0,1,0,1,2016,5,3,2016,6,7,110523
110524,21,0,0,0,0,0,1,0,1,2016,4,27,2016,6,7,110524
110525,38,0,0,0,0,0,1,0,1,2016,4,27,2016,6,7,110525
110526,54,0,0,0,0,0,1,0,1,2016,4,27,2016,6,7,110526

In [41]:
# TRAIN/TEST PARTITION
#create the feature vectors and class labels


features = np.array(data.iloc[:,3:18])
labels = np.array(data['NoShow'])

features

array([[  62,    0,    1, ..., 2016,    4,   29],
       [  56,    0,    0, ..., 2016,    4,   29],
       [  62,    0,    0, ..., 2016,    4,   29],
       ...,
       [  21,    0,    0, ..., 2016,    6,    7],
       [  38,    0,    0, ..., 2016,    6,    7],
       [  54,    0,    0, ..., 2016,    6,    7]])

In [42]:
#split the data into training and testing sets(67% training, 33% into testing)
training_features, testing_features, training_labels, testing_labels = train_test_split(features,labels, test_size = 0.2,random_state = 42 )

## Logistic regression

In [43]:
from sklearn import linear_model

lg = linear_model.LogisticRegression()
lg.fit(training_features,training_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [44]:
# hold out cross validation

#print(accuracy_score(testing_labels, predictions))

score = cross_val_score(lg, training_features,training_labels, cv = 10, scoring= 'accuracy')
print(score)

predictions = lg.predict(testing_features)
print(predictions)

score = accuracy_score(testing_labels, predictions)
print(score)

[ 0.79588375  0.79577067  0.79529518  0.7946166   0.79518209  0.79495589
  0.79427731  0.79405112  0.79574757  0.79334917]
[0 0 0 ..., 0 0 0]
0.796525830091

## Multi Layer Perceptron

In [45]:
"""from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(alpha=0.01, hidden_layer_sizes = (100,100))
mlp.fit(training_features,training_labels)"""

'from sklearn.neural_network import MLPClassifier\nmlp = MLPClassifier(alpha=0.01, hidden_layer_sizes = (100,100))\nmlp.fit(training_features,training_labels)'

In [46]:
"""# hold out cross validation

#print(accuracy_score(testing_labels, predictions))

score = cross_val_score(mlp, training_features,training_labels, cv = 10, scoring= 'accuracy')
print(score)

predictions = mlp.predict(testing_features)
print(predictions)

score = accuracy_score(testing_labels, predictions)
print(score)"""

"# hold out cross validation\n\n#print(accuracy_score(testing_labels, predictions))\n\nscore = cross_val_score(mlp, training_features,training_labels, cv = 10, scoring= 'accuracy')\nprint(score)\n\npredictions = mlp.predict(testing_features)\nprint(predictions)\n\nscore = accuracy_score(testing_labels, predictions)\nprint(score)"

## Random Forrest

In [47]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_depth=3, random_state=0)
rf.fit(training_features,training_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [48]:
# hold out cross validation

#print(accuracy_score(testing_labels, predictions))

score = cross_val_score(rf, training_features,training_labels, cv = 10, scoring= 'accuracy')
print(score)

predictions = rf.predict(testing_features)
print(predictions)

score = accuracy_score(testing_labels, predictions)
print(score)

[ 0.79769309  0.79769309  0.79778331  0.79778331  0.79778331  0.79778331
  0.79778331  0.79778331  0.79778331  0.79776043]
[0 0 0 ..., 0 0 0]
0.79928526192

 ## KNeighbors

In [49]:
from sklearn.neighbors import KNeighborsClassifier

In [50]:
#TRAIN/TEST ALGORITHM
#instance the model

kList = range(1,50)

cv_scores = []

neighbors = filter(lambda x: x % 2 != 0, kList)

In [51]:

for i in neighbors:
    print(i)
    knn = KNeighborsClassifier(n_neighbors=i)

    knn.fit(training_features,training_labels)

    #test the model
    predictions = knn.predict(testing_features)

    # hold out cross validation

    #print(accuracy_score(testing_labels, predictions))


    scores = cross_val_score(knn, training_features,training_labels, cv = 10, scoring= 'accuracy')
    #print(scores)
    cv_scores.append(scores.mean())
print("done finding")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
done finding

In [52]:
optimalk = cv_scores.index(max(cv_scores))

In [53]:
knn = KNeighborsClassifier(n_neighbors=optimalk)
knn.fit(training_features,training_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=24, p=2,
           weights='uniform')

In [54]:
training_features.shape

(88421, 15)

In [55]:

predictions = knn.predict(testing_features)
#data['predictions'] = knn.predict(testing_features)


score = accuracy_score(testing_labels, predictions)
print(score)

0.795982991043

## Predict Whether a Patient Will Show Up: User Input

In [56]:
data.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduledMonth,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,2016-04-29,2016-04-29,62,0,1,0,0,0,0,0,1,2016,4,29,2016,4,29,0
1,0,2016-04-29,2016-04-29,56,0,0,0,0,0,0,1,0,2016,4,29,2016,4,29,1
2,0,2016-04-29,2016-04-29,62,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,2
3,0,2016-04-29,2016-04-29,8,0,0,0,0,0,0,0,1,2016,4,29,2016,4,29,3
4,0,2016-04-29,2016-04-29,56,0,1,1,0,0,0,0,1,2016,4,29,2016,4,29,4

In [57]:
age = 0.0
scholarship = 0.0
hypertension = 0.0
diabetes = 0.0
alcoholism = 0.0
handicap = 0.0
sms = 0.0
male = 0.0
female = 0.0
scheduleyear = 0.0
schedulemonth = 0.0
scheduleday = 0.0
appointmentyear = 0.0
appointmentmonth = 0.0
appointmentday = 0.0


#Scholarship	Hypertension	Diabetes	Alcoholism	Handicap	SMS_received	Male	Female	ScheduledYear	ScheduleDay	AppointmentYear	AppointmentMonth	AppointmentDayy
#Age	Scholarship	Hypertension	Diabetes	Alcoholism	Handicap	SMS_received	Male	Female	ScheduledYear	ScheduledMonth	ScheduleDay	AppointmentYear	AppointmentMonth	AppointmentDayy


inputage = int(input("Enter the patient's age: "+ "\n" ))
inputscholarship = input("Is the patient on Scholarship(Yes or No): "+ "\n" )
inputhypertension = input("Does the patient have Hypertension?(Yes or No): "+ "\n" )
inputdiabetes = input("Is the patient Diabetic?(Yes or No): "+ "\n" )
inputalcoholism = input("Is the patient an Alcoholic?(Yes or No): "+ "\n" )
inputhandicap = int(input("How many Handicaps does the patient have?: "+ "\n" ))
inputsms = input("Will the patient recieve a text message?(Yes or No): "+ "\n" )
inputmale = input("Is the patient Male?(Yes or No): "+ "\n")
inputfemale = input("Is the patient Female?(Yes or No): "+ "\n")
inputscheduledyear = int(input("What year was the appointment scheduled?: "+ "\n"))
inputscheduledmonth = int(input("What month was the appointment scheduled?: "+ "\n"))
inputscheduledday = int(input("What day was the appointment scheduled?: "+ "\n"))
inputappoinmentyear = int(input("What year is the appointment scheduled for?: "+ "\n"))
inputappoinmentmonth = int(input("What month is the appointment scheduled for?: "+ "\n"))
inputappoinmentday = int(input("What day is the appointment scheduled for?: "+ "\n"))






age = inputage
handicap = inputhandicap
scheduleyear = inputscheduledyear
schedulemonth = inputscheduledmonth
scheduleday = inputscheduledday
appointmentyear = inputappoinmentyear
appointmentmonth = inputappoinmentmonth
appointmentday = inputappoinmentday



if inputscholarship == "Yes" or "yes":
    scholarship = 1.0
elif inputscholarship == "No" or "no":
    scholarship = 0
if hypertension == "Yes" or "yes":
    hypertension = 1.0
elif hypertension == "No" or "no":
    hypertension = 0
if inputdiabetes == "Yes" or "yes":
    diabetes = 1.0
elif inputdiabetes == "No" or "no":
    daibetes = 0
if inputalcoholism == "Yes" or "yes":
    alcoholism = 1.0
elif inputalcoholism == "No" or "no":
    alcoholism = 0
if inputsms == "Yes" or "yes":
    sms = 1.0
elif inputsms == "No" or "no":
    sms = 0
if inputmale == "Yes" or "yes":
    male = 1.0
elif inputdiabetes == "No" or "no":
    male = 0
if inputfemale == "Yes" or "yes":
    female = 1.0
elif inputfemale == "No" or "no":
    female = 0
   



#print(test_features)

#          Age Scholarship	Hypertension	Diabetes	Alcoholism	Handicap	SMS_received	Male	Female	ScheduledYear	ScheduledMonth	ScheduleDay	AppointmentYear	AppointmentMonth	AppointmentDayy
answer = [age,scholarship,hypertension,diabetes,alcoholism,handicap,sms,male,female,scheduleyear,schedulemonth,scheduleday,appointmentyear,appointmentmonth,appointmentday]


#the commented out chunk was for testing to not have to type everything in everytime I wanted to test
"""
print(" ")

print("Fixed answer: ")

fixedanswer = [1, 1.0, 1.0 ,1.0, 1.0, 5, 1.0, 1.0, 1.0, 2017, 1, 1, 2017, 1, 1]

print(fixedanswer)

print(rf.predict([fixedanswer]))
print(lg.predict([fixedanswer]))
print(knn.predict([fixedanswer]))

"""

print(" ")

print("user answer: ")


print(answer)

print(rf.predict([answer]))
print(lg.predict([answer]))
print(knn.predict([answer]))

Enter the patient's age:
5
Is the patient on Scholarship(Yes or No):
Yes
Does the patient have Hypertension?(Yes or No):
Yes
Is the patient Diabetic?(Yes or No):
Yes
Is the patient an Alcoholic?(Yes or No):
Yes
How many Handicaps does the patient have?:
5
Will the patient recieve a text message?(Yes or No):
Yes
Is the patient Male?(Yes or No):
No
Is the patient Female?(Yes or No):
Yes
What year was the appointment scheduled?:
2017
What month was the appointment scheduled?:
1
What day was the appointment scheduled?:
1
What year is the appointment scheduled for?:
2017
What month is the appointment scheduled for?:
1
What day is the appointment scheduled for?:
1

user answer:
[5, 1.0, 1.0, 1.0, 1.0, 5, 1.0, 1.0, 1.0, 2017, 1, 1, 2017, 1, 1]
[0]
[1]
[0]

# Esemble Model

In [62]:
print("Here we will use an ensemble of our three different models to vote whether this patient will show up or not.")
print("Let's see how our individual models voted.")
noshowcounter = 0.0
showcounter = 0.0

randomresult = (rf.predict([answer]))
logresult = (lg.predict([answer]))
knnresult = (knn.predict([answer]))

print("")
print("random forrest:")
print(randomresult[0])

if randomresult[0] == 1:
    noshowcounter+=1
    print("no show")
else:
    showcounter+=1
    print("show")

print("")
print("logistic regression:")
print(logresult[0])

if logresult[0] == 1:
    noshowcounter+=1
    print("no show")
else:
    showcounter+=1
    print("show")

    
print("")
print("knn:")
print(knnresult[0])

if knnresult[0] == 1:
    noshowcounter+=1
    print("no show")
else:
    showcounter+=1
    print("show")


    
print("")   
print("The final vote is %f no shows to %d shows" %(noshowcounter,showcounter))

Here we will use an ensemble of our three different models to vote whether this patient will show up or not.
Let's see how our individual models voted.

random forrest:
0
show

logistic regression:
1
no show

knn:
0
show

The final vote is 1.000000 no shows to 2 shows

# Result

In [63]:

if noshowcounter >= 2:
    print("Our Esemble Model predicts the patient is not going to show up for their appointment.")
    print("Be advised, intervention may be neccesary or suggested in order for the patient to show up ")

else:
    print("Our Model Predicts that this patient will show up to their appointment, intervention is not needed")

Our Model Predicts that this patient will show up to their appointment, intervention is not needed