# 11-8-17 Train and Test Model

Here is probably the most interesting and complex part to this analysis. 

I will run a bunch of different models to see what their various testing/training accuracies are in order to pick the best one and then try and optomize that particular model.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import matplotlib.style as style
#style.use('fivethirtyeight')
import seaborn as sb

In [2]:
data = pd.read_csv("../data/post-featureselectionandcreation.csv")
data.head()

,Unnamed: 0,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,0,2016-04-29 18:38:08,2016-04-29 00:00:00,62,0,1,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +05:21:52.000000000
1,1,0,2016-04-29 16:08:27,2016-04-29 00:00:00,56,0,0,0,0,0,0,1,0,2016,29,2016,4,29,-1 days +07:51:33.000000000
2,2,0,2016-04-29 16:19:04,2016-04-29 00:00:00,62,0,0,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +07:40:56.000000000
3,3,0,2016-04-29 17:29:31,2016-04-29 00:00:00,8,0,0,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +06:30:29.000000000
4,4,0,2016-04-29 16:07:23,2016-04-29 00:00:00,56,0,1,1,0,0,0,0,1,2016,29,2016,4,29,-1 days +07:52:37.000000000

In [3]:
data = data[['NoShow','ScheduledDay','AppointmentDay','Age','Scholarship','Hypertension','Diabetes','Alcoholism','Handicap','SMS_received','Male','Female','ScheduledYear','ScheduleDay','AppointmentYear','AppointmentMonth','AppointmentDayy','WaitingTime']]
data.head()

,NoShow,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy,WaitingTime
0,0,2016-04-29 18:38:08,2016-04-29 00:00:00,62,0,1,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +05:21:52.000000000
1,0,2016-04-29 16:08:27,2016-04-29 00:00:00,56,0,0,0,0,0,0,1,0,2016,29,2016,4,29,-1 days +07:51:33.000000000
2,0,2016-04-29 16:19:04,2016-04-29 00:00:00,62,0,0,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +07:40:56.000000000
3,0,2016-04-29 17:29:31,2016-04-29 00:00:00,8,0,0,0,0,0,0,0,1,2016,29,2016,4,29,-1 days +06:30:29.000000000
4,0,2016-04-29 16:07:23,2016-04-29 00:00:00,56,0,1,1,0,0,0,0,1,2016,29,2016,4,29,-1 days +07:52:37.000000000

 ## KNeighbors

In [4]:
#the features we are going to train our model on
showfeatures = data.iloc[:,3:17]
showfeatures.head()

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Male,Female,ScheduledYear,ScheduleDay,AppointmentYear,AppointmentMonth,AppointmentDayy
0,62,0,1,0,0,0,0,0,1,2016,29,2016,4,29
1,56,0,0,0,0,0,0,1,0,2016,29,2016,4,29
2,62,0,0,0,0,0,0,0,1,2016,29,2016,4,29
3,8,0,0,0,0,0,0,0,1,2016,29,2016,4,29
4,56,0,1,1,0,0,0,0,1,2016,29,2016,4,29

In [5]:
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# TRAIN/TEST PARTITION
#create the feature vectors and class labels


features = np.array(data.iloc[:,3:17])
labels = np.array(data['NoShow'])

#split the data into training and testing sets(67% training, 33% into testing)
training_features, testing_features, training_labels, testing_labels = train_test_split(features,labels, test_size = 0.2,random_state = 42 )

#TRAIN/TEST ALGORITHM
#instance the model

kList = range(1,50)

cv_scores = []

neighbors = filter(lambda x: x % 2 != 0, kList)

for i in neighbors:
    print(i)
    knn = KNeighborsClassifier(n_neighbors=i)

    knn.fit(training_features,training_labels)

    #test the model
    predictions = knn.predict(testing_features)

    # hold out cross validation

    #print(accuracy_score(testing_labels, predictions))


    scores = cross_val_score(knn, training_features,training_labels, cv = 10, scoring= 'accuracy')
    #print(scores)
    cv_scores.append(scores.mean())
print("dont findin")

/home/chasekregor/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [6]:
# changing to misclassification error
#plt.plot(neighbors, cv_scores)
#plt.xlabel('Number of Neighbors (k)')
#plt.ylabel('Accuracy')
#plt.show()

In [7]:
optimalk = print(cv_scores.index(max(cv_scores)))

24

In [8]:
knn = KNeighborsClassifier(n_neighbors=optimalk)
knn.fit(training_features,training_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=None, p=2,
           weights='uniform')

In [12]:
#Scholarship	Hypertension	Diabetes	Alcoholism	Handicap	SMS_received	Male	Female	ScheduledYear	ScheduleDay	AppointmentYear	AppointmentMonth	AppointmentDayy
inputage = int(input("Enter the patient's age: "+ "\n" ))
inputscholarship = input("Is the patient on Scholarship(Yes or No): "+ "\n" )
inputdiabetes = input("Is the patient Diabetic?(Yes or No): "+ "\n" )
inputalcoholism = input("Is the patient an Alcoholic?(Yes or No): "+ "\n" )
inputhandicap = int(input("How many Handicaps does the patient have?: "+ "\n" ))
inputsms = input("Will the patient recieve a text message?(Yes or No): "+ "\n" )
inputmale = input("Is the patient Male?(Yes or No): "+ "\n")
inputfemale = input("Is the patient Female?(Yes or No): "+ "\n")
inputscheduledyear = int(input("What year was the appointment scheduled?: "+ "\n"))
inputscheduledmonth = int(input("What month was the appointment scheduled?: "+ "\n"))
inputscheduledday = int(input("What day was the appointment scheduled?: "+ "\n"))
inputappoinmentyear = int(input("What year is the appointment scheduled for?: "+ "\n"))
inputappoinmentmonth = int(input("What month is the appointment scheduled for?: "+ "\n"))
inputappoinmentday = int(input("What day is the appointment scheduled for?: "+ "\n"))


age = 0
scholarship = 0
diabetes = 0 
alcoholism = 0
handicap = 0
sms = 0
male = 0
female = 0 
scheduleyear = 0
schedulemonth = 0
scheduleday = 0
appointmentyear = 0 
appointmentmonth = 0
appointmentday = 0



age = inputage
handicap = inputhandicap
scheduleyear = inputscheduledyear
schedulemonth = inputscheduledmonth
scheduleday = inputscheduledday
appointmentyear = inputappoinmentyear
appointmentmonth = inputappoinmentmonth
appointmentday = inputappoinmentday



if inputscholarship == "Yes" or "yes":
    scholarship = 1
elif inputscholarship == "No" or "no":
    scholarship = 0
if inputdiabetes == "Yes" or "yes":
    diabetes = 1
elif inputdiabetes == "No" or "no":
    daibetes = 0
if inputalcoholism == "Yes" or "yes":
    alcoholism = 1
elif inputalcoholism == "No" or "no":
    alcoholism = 0
if inputsms == "Yes" or "yes":
    sms = 1
elif inputsms == "No" or "no":
    sms = 0
if inputmale == "Yes" or "yes":
    male = 1
elif inputdiabetes == "No" or "no":
    male = 0
if inputfemale == "Yes" or "yes":
    female = 1
elif inputfemale == "No" or "no":
    female = 0

In [27]:
print(test_features)

answer = [age,scholarship,diabetes,alcoholism,handicap,sms,male,female,scheduleyear,schedulemonth,scheduleday,appointmentyear,appointmentmonth,appointmentday]

print(answer)


knn.predict([answer])

[40, 1, 1, 1, 2, 1, 1, 1, 2016, 1, 1, 2017, 1, 1]

TypeError: '>' not supported between instances of 'NoneType' and 'int'